.button {
    justify-content: flex-start;
    width: 100%;
    padding: 0.6em 0;
    border-radius: 0;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    color: inherit;
}

.button,
.button:disabled {
    border: none;
}