.dropdown {
    position: relative;
    border-radius: 0.3em;
}

.dropdown.expanded {
    z-index: 2;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.button {
    background-color: transparent;
    color: inherit;
    border: none;
    border-radius: 0;
}

.primaryButton {
    padding: 0.3em;
    background: transparent;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.primaryButton.expanded {
    border-bottom-left-radius: 0;
}

button.toggleButton {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

button.toggleButton.expanded {
    border-bottom-right-radius: 0;
}