.default {
    margin: 0.3em auto;
    padding: 0.3em 0.6em;
    border: 1px solid var(--tertiary-color, #A1869E);
    border-radius: 0.3em;
    background-color: var(--primary-color, #048A81);
    color: var(--tertiary-color, #A1869E);
    font-weight: 700;
    text-transform: uppercase;
}