/* Global */

.default {
    color: var(--accent-one, honeydew);
}

.primary,
button.success,
button.warning,
input.success,
input.warning,
div.success,
div.warning {
    color: var(--primary-button-color, #2C363F);
}

.secondary {
    color: var(--secondary-button-color, #2C363F);
}

.success {
    color: var(--success-color, green);
}

.warning {
    color: var(--warning-color, yellow);
}

.danger {
    color: var(--danger-color, darkred);
}

.disabled {
    color: var(--disabled-color, lightsteelblue);
}

/* Common */

button.primary:hover,
button.primary:focus,
button.secondary:hover,
button.secondary:focus,
button.success:hover,
button.success:focus,
button.warning:hover,
button.warning:focus,
button.danger:hover,
button.danger:focus,
button.disabled:hover,
button.disabled:focus,
input.primary:hover,
input.primary:focus,
input.secondary:hover,
input.secondary:focus,
input.success:hover,
input.success:focus,
input.warning:hover,
input.warning:focus,
input.danger:hover,
input.danger:focus,
input.disabled:hover,
input.disabled:focus {
    -webkit-backdrop-filter: var(--background-filter, saturate(1.5) grayscale(0.42) brightness(2.1) contrast(0.3));
    backdrop-filter: var(--background-filter, saturate(1.5) grayscale(0.42) brightness(2.1) contrast(0.3));
    outline: none;
}

/* Division */
/* TODO: Reduce shared styles */
div.default {
    border: 1px solid var(--accent-one, honeydew);
    background-color: var(--accent-two, #B9CDDA);
}

div.primary,
div.secondary {
    border: 1px solid var(--primary-button-color, #2C363F);
}

div.primary {
    background-color: var(--primary-button-background-color, #048A81);
}

div.secondary {
    background-color: var(--secondary-button-background-color, #A1869E);
}

div.tertiary {
    border: 1px solid var(--tertiary-button-color, #A1869E);
    background-color: var(--tertiary-button-background-color, #2C363F);
    color: 1px solid var(--tertiary-button-color, #A1869E);
}

div.success {
    border: 1px solid var(--success-color, green);
    background-color: var(--success-background-color, palegreen);
}

div.warning {
    border: 1px solid #222;
    background-color: var(--warning-background-color, lightgoldenrodyellow);
}

div.danger {
    border: 1px solid var(--danger-color, darkred);
    background-color: var(--danger-background-color, palevioletred);
    color: var(--danger-color, darkred);
}

div.disabled {
    border: 1px solid var(--disabled-color, lightsteelblue);
    background-color: var(--disabled-background-color, whitesmoke);
    color: dimgrey;
}

/* Button */

button.default {
    border: 1px solid var(--accent-one, honeydew);
    background-color: var(--accent-two, #B9CDDA);
}

button.primary,
button.secondary {
    border: 1px solid var(--primary-button-color, #2C363F);
}

button.primary {
    background-color: var(--primary-button-background-color, #048A81);
}

button.secondary {
    background-color: var(--secondary-button-background-color, #A1869E);
}

button.tertiary {
    border: 1px solid var(--tertiary-button-color, #A1869E);
    background-color: var(--tertiary-button-background-color, #2C363F);
    color: 1px solid var(--tertiary-button-color, #A1869E);
}

button.success {
    border: 1px solid var(--success-color, green);
    background-color: var(--success-background-color, palegreen);
}

button.warning {
    border: 1px solid #222;
    background-color: var(--warning-background-color, lightgoldenrodyellow);
}

button.danger {
    border: 1px solid var(--danger-color, darkred);
    background-color: var(--danger-background-color, palevioletred);
    color: var(--danger-color, darkred);
}

button.disabled {
    border: 1px solid var(--disabled-color, lightsteelblue);
    background-color: var(--disabled-background-color, whitesmoke);
    color: dimgrey;
}

/* Input */

input.default {
    border: 1px solid var(--secondary-color, #2C363F);
    background-color: var(--accent-one, honeydew);
    color: var(--secondary-color, #2C363F);
}

input.primary {
    border: 1px solid var(--tertiary-color, #A1869E);
    background-color: var(--primary-color, #048A81);
    color: 1px solid var(--tertiary-color, #A1869E);
}

input.secondary {
    border: 1px solid var(--accent-one, honeydew);
    background-color: var(--secondary-color, #2C363F);
    color: 1px solid var(--accent-one, honeydew);
}

input.success {
    border: 1px solid var(--success-color, green);
    background-color: var(--success-background-color, palegreen);
}

input.warning {
    border: 1px solid var(--warning-color, yellow);
    background-color: var(--warning-background-color, lightgoldenrodyellow);
}

input.danger {
    border: 1px solid var(--danger-color, darkred);
    background-color: var(--danger-background-color, palevioletred);
}