/* Stylesheet */

.button {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.1em;
  padding: 0.9em;
  box-sizing: content-box;
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  letter-spacing: 1px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary-link-color, #EEE);
  color: var(--primary-background-color, #222);
  border: 1px solid var(--primary-background-color, #222);
  border-radius: 0.3em;
}

/* Primary */
primary {
  background-color: var(--primary-button-background-color, teal);
  color: var(--primary-button-color, #EEE);
  border: 2px solid var(--primary-color, #EEE);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.primary:active {
  background-color: var(--tertiary-link-color, cadetblue);
  color: var(--secondary-color, #222);
  border-color: var(--secondary-color, #222);
}

.primary:focus {
  outline: none;
}

/* Secondary */

.secondary {
  background: var(--secondary-button-background-color, #EEE);
  color: var(--secondary-button-color, #222);
  border: 1px solid var(--secondary-button-color, #222);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Success */

.success {
  background: var(--success-background-color, lightgreen);
  color: var(--success-color, green);
  border: 2px solid var(--success-color, green);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Warning */

.warning {
  background: var(--warning-background-color, #EEE);
  color: var(--warning-color, #222);
  border: 2px solid var(--warning-color, #222);
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.63);
}

/* Danger */

.danger {
  background: var(--danger-background-color, pink);
  color: var(--danger-color, red);
  border: 1px solid var(--danger-color, red);
  text-shadow: 0px 2px 2px var(--danger-glow, red);
}

/* Outline */

.outline {
  background: transparent;
  color: #000;
  border: 2px solid var(--primary-background-color, #222);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.outline:disabled {
  background-color: transparent;
}

/* Disabled state override */
/* TODO: Add state-specific styles for disabled state. i.e. dim red for `.danger.disabled` */

.button:disabled {
  background-color: var(--disabled-background-color, #EEE);
  color: var(--disabled-color, #666);
  border: 2px solid var(--disabled-color, #666);
  outline: none;
  text-shadow: none;
  cursor: not-allowed;
}