.menu {
    position: absolute;
    top: 100%;
    left: -2px; /* Align border with parent */
    flex-direction: column;
    width: calc(100% + 4px); /* Align border with parent */
    background: inherit;
    color: inherit;
    border: inherit;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    -webkit-backdrop-filter: var(--background-filter);
    backdrop-filter: var(--background-filter);
}