.fieldWrapper {
    display: flex;
    margin-bottom: 0.3em;
}

.fieldWrapper button {
    align-self: center;
}

.error {
    border: 1px solid var(--danger-color, red);
    background-color: pink;
    color: var(--danger-color, red);
}