.splitButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
}

.splitButton .splitButtonItem {
    align-self: stretch;
    border: none;
    border-radius: 0;
    color: inherit;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    filter: none;
}

.splitButtonItem.flex {
    flex: 1;
}