.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
    border: 1px solid var(--primary-background-color, #222);
    border-radius: 0.3em;
    background-color: var(--secondary-color, cyan);
    color: var(--primary-background-color, #222);
}

.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.3em;
}

.container.disabled,
.menuContainer.disabled {
    border-color: var(--disabled-color, #888);
    /* background-color: var(--disabled-background-color, #222); */
    /* color: var(--disabled-color, #888); */
}

.menu {
    position: absolute;
    width: 100%;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 0;
    border: 1px solid var(--primary-background-color, #222);
    border-top: none;
    border-radius: 0 0 0.3em 0.3em;
    background-color: var(--secondary-color, teal);
    color: var(--primary-background-color, #222);
}

.menu.disabled {
    /* border-color: var(--disabled-color, #888);
    background-color: var(--disabled-background-color, #222);
    color: var(--disabled-color, #888); */
}

.menuItem {
    width: 100%;
    padding: 0.6em 0;
    color: inherit;
}

.menuItem:hover {
    background-color: var(--secondary-color, cyan);
    filter: saturate(0.6) brightness(1.2) contrast(0.4); /* Make the hovered element stand out next to its siblings */
}

.menuItem,
.menuItem:disabled {
    border: none;
    border-radius: 0;
    background: none;
}

.verticalRule {
    flex: 1;
    align-self: stretch;
    max-width: 1px;
    height: auto;
    border: inherit;
    border-left: none;
    border-right: none;
    color: var(--primary-background-color, #222);
}

.verticalRule.disabled {
    color: var(--disabled-color, #888);
}

.expanded {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.primary {
    border-color: var(--primary-button-color, cyan);
    background-color: var(--primary-button-background-color, #EEE);
    color: var(--primary-button-color, cyan);
}

.secondary {
    border-color: var(--secondary-button-color, #222);
    background-color: var(--secondary-button-background-color, #EEE);
    color: var(--secondary-button-color, #222);
}

.success {
    border-color: var(--success-color, green);
    background-color: var(--success-background-color, lightgreen);
    color: var(--success-color, green);
}

.warning {
    border-color: var(--warning-color, yellow);
    background-color: var(--warning-background-color, lightyellow);
    color: var(--warning-color, black);
}

.danger {
    border-color: var(--danger-color, red);
    background-color: var(--danger-background-color, pink);
    color: var(--danger-color, red);
}

.outline {
    border-width: 3px;
    background-color: transparent;
}