.selectedOptionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
    border: 1px solid #000;
    border-radius: 0.3em;
    -webkit-backdrop-filter: var(--background-filter, saturate(1.5) grayscale(0.42) brightness(2.1) contrast(0.3));
    backdrop-filter: var(--background-filter, saturate(1.5) grayscale(0.42) brightness(2.1) contrast(0.3));
}

.selectedOption {
    padding: 0 0.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.unselectOptionButton {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-basis: content;
    gap: 0.1em;
    width: 100%;
    padding: 0 0.3em;
    background-color: #A606;
    color: var(--danger-color, red);
}

.unselectOptionButton svg {
    fill: var(--danger-color, red);
}

.unselectOptionButton:hover,
.unselectOptionButton:active,
.unselectOptionButton:focus {
    cursor: pointer;
    /* filter: saturate(0.6) brightness(1.2); */
    -webkit-backdrop-filter: saturate(0.6) brightness(1.2) contrast(0.6);
    backdrop-filter: saturate(0.6) brightness(1.2) contrast(0.6);
}