.button,
.button:disabled {
    border: none;
    border-radius: 0;
}

.button {
    flex: 1;
    background-color: transparent;
}

.button:disabled {
    background-color: var(--disabled-background-color, #222);
}