.toggleButtonContainer {
    align-self: stretch;
    border: none;
    background-color: transparent;
}

.toggleButton {
    padding: 0 0.6em;
}

/* .toggleButton:before {
    content: "\00a0";
    border-left: 3px solid var(--primary-background-color, #222);
    border-radius: 0;
    padding: 0.3em;
} */

.toggleButton,
.toggleButton:disabled {
    border: none;
    background-color: transparent;
}