.toggleButtonContainer {
    align-self: stretch;
    border: 1px solid var(--disabled-color, #888);
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;    
}

.toggleButtonContainer.expanded {
    border-bottom-right-radius: 0;
}

.toggleButton {
    padding: 0 0.6em;
}

/* .toggleButton:before {
    content: "\00a0";
    border-left: 3px solid var(--primary-background-color, #222);
    border-radius: 0;
    padding: 0.3em;
} */

.toggleButton,
.toggleButton:disabled {
    border: none;
    background: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.outline {
    border-width: 3px;
    background-color: transparent;
}