/* Stylesheet */

html,
body {
  background-color: var(--secondary-color, #222);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--primary-body-font-family, 'Times New Roman', Times, serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color, #EEE);
}

code,
pre {
  padding: 0.3em;
  font-family: var(--primary-mono-font-family, 'Courier New', Courier, monospace);
  background-color: var(--primary-color, black);
  color: var(--tertiary-color, green);
}

hr {
  width: 80%;
  margin: 0 auto;
}

a {
  color: var(--primary-link-color, purple);
}

a:hover {
  color: var(--tertiary-color, lightblue);
}

a:visited,
a:active {
  color: var(--tertiary-link-color, lavender);
}

a:visited:hover {
  color: var(--tertiary-color, lightblue);
}

a:focus {
  outline-color: var(--tertiary-link-color, lavender);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input[type='button'] {
  color: var(--tertiary-color, teal);
  font-family: var(--primary-heading-font-family, Arial, Helvetica, sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.error {
  background-color: var(--danger-background-color, pink);
  color: var(--danger-color, red);
  border: 1px solid var(--danger-color, red);
  border-radius: 0.3em;
}