/* Stylesheet */

html,
body {
  background-color: #2B2D42;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Lora', Cambria, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #E4E6C3;
}

code,
pre {
  padding: 0.3em;
  font-family: source-code-pro, 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
  background-color: #E4E6C3;
  color: #048A81;
}

hr {
  width: 80%;
  margin: 0 auto;
}

a {
  color: #F0F2F5;
}

a:hover,
a:visited:hover {
  color: #048A81;
}

a:visited,
a:active {
  color: #A799B7;
}

a:visited:hover {
  color: #048A81;
}

a:focus {
  outline-color: #A799B7;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input[type='button'] {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.error {
  background-color: red;
  color: #E4E6C3;
  border: 1px solid #2B2D42;
  border-radius: 0.3em;
}