:root {
    /* Font family */
    --primary-heading-font-family:
        'Roboto',
        Arial,
        Helvetica,
        sans-serif;
    --primary-body-font-family:
        -apple-system,
        BlinkMacSystemFont,
        'Lora',
        Cambria,
        'Times New Roman',
        Times,
        serif;
    --primary-mono-font-family:
        source-code-pro,
        'Roboto Mono',
        Menlo,
        Monaco,
        Consolas,
        'Courier New',
        Courier,
        monospace;
    /* Accent */
    --accent-one: #556F44;
    /* Background */
    --primary-background-color: #2B2D42;
    --secondary-background-color: #E4E6C3;
    /* Body */
    --primary-color: var(--secondary-background-color);
    --secondary-color: #048A81;
    /* Anchors */
    --primary-link-color: #F0F2F5;
    --secondary-link-color: var(--secondary-color);
    --tertiary-link-color: #A799B7;
    /* Buttons */
    --primary-button-color: var(--secondary-background-color);
    --primary-button-background-color: var(--secondary-color);
    --secondary-button-color: var(--primary-background-color);
    --secondary-button-background-color: var(--secondary-background-color);
    --tertiary-button-color: purple;
    --tertiary-button-background-color: lavender;
    --primary-transparent-button-color: rgba(0, 255, 255, 0.5);
    /* States */
    --success-color: green;
    --success-background-color: lightgreen;
    --warning-color: goldenrod;
    --warning-background-color: lightyellow;
    --danger-color: darkred;
    --danger-background-color: palevioletred;
    --danger-glow: rgba(255, 0, 0, 0.23);
    --disabled-color: #888;
    --disabled-background-color: #ECDBFF;
}