div.dropdownContainer {
  border-color: inherit;
  /* background-color: inherit; */
}

.dropdown {
  box-shadow: inset 1px 0 1px 0 #222;
}

button.button {
  flex-wrap: wrap;
  gap: 0.6em;
}

.cursorReset {
  cursor: default;
}